.col-sm-6.col-lg-4  
  .card.text-white.bg-primary
    .card-header
        | Nível de Bateria
    .card-body.pb-0
        //- .btn-group.float-right
        //- button.btn.btn-transparent.dropdown-toggle.p-0(aria-expanded='false', aria-haspopup='true', type='button', data-toggle='dropdown')
        //-     i.icon-settings
        //- .dropdown-menu.dropdown-menu-right
        //-     a.dropdown-item(href='#') Detalhes
        h4.mb-0 13.06
        p Volts
    //- .chart-wrapper.px-3(style='height:70px;')
    //-     canvas#card-chart2.chart(height='70')                        