.col-sm-6.col-lg-4  
  .card.text-white.bg-danger
    .card-header
        | DTC
    .card-body.pb-0
        h4.mb-0 0
        p Total de Falhas DTC
            
            
    //- .chart-wrapper.px-3(style='height:70px;')
    //-     canvas#card-chart2.chart(height='70')                        