.col-sm-6.col-lg-4  
  .card.text-dark.bg-white
    .card-header
        | Perfil de Condução
    .card-body
        .py-1.pb-0.mr-3.float-none
            .avatar
            img.img-fluid(src='img/profiles/3.jpg', width="200px")
            span.avatar-status.badge-success
        //- .btn-group.float-right
        //- button.btn.btn-transparent.dropdown-toggle.p-0(aria-expanded='false', aria-haspopup='true', type='button', data-toggle='dropdown')
        //-     i.icon-settings
        //- .dropdown-menu.dropdown-menu-right
        //-     a.dropdown-item(href='#') Detalhes
        //- img.img-avatar(src='img/profiles/OK.jpg',align-center)
    //- .chart-wrapper.px-3(style='height:70px;')
    //-     canvas#card-chart2.chart(height='70')     