doctype html
html(lang='pt-BR')
  include header    
  body.app.header-fixed.sidebar-fixed.aside-menu-fixed.aside-menu-hidden
     include navheader          
    .app-body
      include sidebar
      // Main content
      block content           
      include asidemenu                         
    include footer
include scritps-main