script(src='/bower_components/popper.js/dist/umd/popper.min.js')
script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
script(src='/bower_components/pace/pace.min.js')

script(type='text/javascript', src='/bower_components/moment/min/moment.min.js')
script(type='text/javascript', src='/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')

//- // Plugins and scripts required by all views
//- script(src='#{baseuri}bower_components/chart.js/dist/Chart.min.js')
// GenesisUI main scripts
script(src='/js/app.js')

block scripts